BG			BITMAP "bg.bmp"
SQUARE		BITMAP "square.bmp"
SQUARE_B	BITMAP "square_b.bmp"
IF			BITMAP "if.bmp"
NOT_IF		BITMAP "not_if.bmp"
WHILE		BITMAP "while.bmp"
NOT_WHILE	BITMAP "not_while.bmp"
END			BITMAP "end.bmp"
LINE		BITMAP "line.bmp"
TIMER		BITMAP "timer.bmp"